<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eurekamember.demo.mapper.UserMapper">
    <select id="selectAll" resultType="com.eurekamember.demo.entity.MemberUser">
        select * from member_user
    </select>
    <insert id="insertData" >
        INSERT INTO member_user ( name ,age ,gender )
                       VALUES
                       ( #{name}, #{age},#{gender} );
    </insert>
</mapper>